@import "tailwindcss";

@theme {
  --color-primary-50: #f8fafc;
  --color-primary-100: #f1f5f9;
  --color-primary-500: #334155;
  --color-primary-600: #1e293b;
  --color-primary-700: #0f172a;
  
  --color-brand: #2563eb;

  --background-image-none: none;
}